<app-header></app-header>
<div class="main">
    <div>
        <button (click)="showboxb()">Start</button>
    </div>
    <div class="mi__box" *ngIf="showbox" #move>
      
        <div class="img__box"></div>
        <div class="mi__migrate__box">
            <div class="lable__txt">
                <div>Migrating data to selected environment</div>
                <div>100%</div>
            </div>
            <div>
                <div class="progress">
                    <div style="height:10px;width: 100%" class="progress-bar " role="progressbar" aria-valuenow=pro aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
        </div>
    </div>
    <div class="toggle" (click)="toggle()" *ngIf="togglebtn">
        ^
     </div>
</div>
<app-footer></app-footer>